<footer>
  <p>© 2025 CreditProExpert. All rights reserved.</p>
  <div class="social-links">
    <a href="https://www.facebook.com" target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://wa.me/yourwhatsapplink" target="_blank"
      ><i class="fa-brands fa-whatsapp"></i
    ></a>
    <a href="mailto:contact@assurance.com"
      ><i class="fa-solid fa-envelope"></i
    ></a>
    <a href="https://www.linkedin.com" target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://www.tiktok.com" target="_blank"
      ><i class="fa-brands fa-tiktok"></i
    ></a>
  </div>
</footer>
