nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--primary-color);
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin-right: 80px;
}

nav ul li.logo img {
  height: 100px;
  margin-right: 20px;
}

li a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

li a:hover {
  color: var(--secondary-color);
}
