<section class="services-list py-5">
  <div class="container text-center">
    <h1>Serviciile noastre</h1>
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card">
          <img
            src="./life-insurance.jpg"
            alt="Life Insurance"
            class="card-img-top"
          />
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title">Credit de nevoi personale</h5>
              <p class="card-text">
                Creditul de nevoi personale e ajutorul tău financiar de
                încredere, simplu și rapid, pentru orice plan ai în minte – de
                la mici dorințe la planuri mari.
              </p>
            </div>
            <button
              (click)="scrollToSection('life-insurance')"
              class="btn btn-primary"
            >
              Afla mai multe
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card">
          <img
            src="./health-insurance.jpg"
            alt="Health Insurance"
            class="card-img-top"
          />
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title">Credit ipotecar</h5>
              <p class="card-text">
                Creditul ipotecar e sprijinul financiar de care ai nevoie ca
                să-ți cumperi casa visurilor tale, cu rate accesibile și
                condiții flexibile, adaptate planurilor tale pe termen lung.
              </p>
            </div>
            <button
              (click)="scrollToSection('health-insurance')"
              class="btn btn-primary"
            >
              Afla mai multe
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card">
          <img src="./car.jpeg" alt="Car Insurance" class="card-img-top" />
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title">Refinantare credit ipotecar</h5>
              <p class="card-text">
                Refinanțarea creditului ipotecar e alegerea smart prin care poți
                obține o rată mai bună, condiții mai avantajoase și un plus de
                confort financiar pentru casa ta.
              </p>
            </div>
            <button
              (click)="scrollToSection('car-insurance')"
              class="btn btn-primary"
            >
              Afla mai multe
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card">
          <img
            src="./property-insurance1.jpg"
            alt="Property Insurance"
            class="card-img-top"
          />
          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title">Refinantare credit de nevoi personale</h5>
              <p class="card-text">
                Refinanțarea creditului de nevoi personale e soluția inteligentă
                prin care îți poți reduce rata lunară, aduce toate creditele
                într-unul singur și câștiga mai multă liniște financiară.
              </p>
            </div>
            <button
              (click)="scrollToSection('property-insurance')"
              class="btn btn-primary"
            >
              Afla mai multe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Credit de nevoi personale -->
<section id="life-insurance" class="service-section">
  <div class="container">
    <h3>Credit de nevoi personale</h3>
    <div class="row">
      <p>
        Refinanțează cu cap. Recreditează cu încredere. Obține mai mult cu
        Credit Pro Expert! La noi, totul e simplu, rapid și fără bătăi de cap!
      </p>
      <p>
        Vrei o ofertă făcută special pentru tine? Dacă banca cere o întâlnire,
        noi te punem imediat în legătură cu un consultant Credit Pro Expert –
        gata să-ți ofere soluția ideală! Ai la dispoziție o gamă variată de
        credite. Iată cum te putem ajuta:
      </p>

      <div class="col-md-6 col-lg-4">
        <img
          src="./life-insurance.jpg"
          alt="Credit de nevoi personale"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <ul>
          <li>
            <strong>Credite rapide:</strong> Accesează sume mici, inclusiv până
            la salariu, fără dosare complicate sau drumuri inutile. Ideal pentru
            urgențe personale.
          </li>
          <li>
            <strong>Fără adeverințe:</strong> Dacă primești salariul prin bancă
            și e declarat la ANAF, nu mai ai nevoie de acte suplimentare –
            verificările se fac automat.
          </li>
          <li>
            <strong>Refinanțare și recreditare:</strong> Restructurează-ți
            creditele existente în condiții mai avantajoase și obține sume
            suplimentare pentru planurile tale.
          </li>
          <li>
            <strong>Consultanță personalizată:</strong> Ești pus imediat în
            legătură cu un expert care îți oferă soluții adaptate nevoilor tale,
            fără stres.
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <p>
          Primești decizia de creditare în maximum 48h, iar banii pot ajunge la
          tine extrem de repede. Economisești timp și eviți complicațiile
          inutile.
        </p>
        <p>
          Credit Pro Expert – suntem aici ca să-ți oferim credite, refinanțări
          și recreditări pe bune, fără surprize. Hai să găsim împreună soluția
          potrivită pentru tine!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Credit ipotecar -->
<section id="health-insurance" class="service-section">
  <div class="container">
    <h3>Credit ipotecar</h3>
    <div class="row">
      <p>
        Vrei să cumperi o locuință cu ajutorul unui credit ipotecar? <br />
        Credit Pro Expert te ghidează pas cu pas, ca să știi exact ce ai nevoie
        și la ce să te aștepți!
      </p>
      <p>
        Criterii esențiale pentru obținerea unui credit ipotecar:<br />
        Descoperă dacă te încadrezi și cum poți face primul pas spre casa ta.
        Iată ce este important:
      </p>

      <div class="col-md-6 col-lg-4">
        <img
          src="./health-insurance.avif"
          alt="Credit ipotecar"
          class="img-fluid rounded"
        />
      </div>

      <div class="col-md-6 col-lg-8">
        <ul>
          <li>
            <strong>Condiții generale:</strong> Vârsta între 20 și 60 de ani;
            venit net lunar minim 2500 lei (conform ANAF); contract de muncă pe
            perioadă nedeterminată.
          </li>
          <li>
            <strong>Stabilitate profesională:</strong> Minim 12 luni de vechime
            totală în muncă, fără pauze mai mari de 30 zile în ultimul an și cel
            puțin 3 salarii raportate la ANAF de la actualul angajator.
          </li>
          <li>
            <strong>Avans minim:</strong> Trebuie să dispui de un avans de minim
            15% din valoarea imobilului pe care dorești să-l achiziționezi.
          </li>
          <li>
            <strong>Locuința eligibilă:</strong> Destinație rezidențială,
            certificat energetic valabil, acte complete și înregistrate la OCPI,
            inclusiv: act de proprietate, încheiere de intabulare, releveu, plan
            de amplasament și delimitare.
          </li>
          <li>
            <strong>Costuri posibile:</strong> Comision analiză (0–1500 lei),
            taxa evaluare imobil (370–1000 lei), comision RNPM (87,60 lei),
            comision administrare cont (0–10 lei) – toate în funcție de ofertă
            și bancă.
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <p>
          La Credit Pro Expert beneficiezi de consultanță gratuită, oferte
          adaptate profilului tău și sprijin total în relația cu banca.
        </p>
        <p>
          Contactează-ne acum și hai să găsim împreună cea mai bună soluție
          pentru casa ta!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Refinanțare credit ipotecar -->

<section id="car-insurance" class="service-section">
  <div class="container">
    <h3>Refinanțare credit ipotecar</h3>
    <div class="row">
      <p>
        Refinanțarea creditului ipotecar e mai simplă (și mai accesibilă) decât
        crezi! <br />
        Cu Credit Pro Expert, știi de la început cât te poate costa procesul –
        fără surprize neplăcute!
      </p>
      <p>
        Ce costuri poți avea atunci când refinanțezi un credit ipotecar:<br />
        Alege o variantă transparentă și eficientă pentru a-ți optimiza bugetul
        lunar.
      </p>
      <div class="col-md-6 col-lg-4">
        <img
          src="./car.jpeg"
          alt="Refinanțare credit ipotecar"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <ul>
          <li>
            <strong>Comision de analiză:</strong> între 0 și 400 lei, în funcție
            de bancă.
          </li>
          <li>
            <strong>Comision RNPM:</strong> doar 87,60 lei pentru înscrierea
            gajurilor pe conturile curente.
          </li>
          <li>
            <strong>Comision de administrare cont curent:</strong> între 0 și 10
            lei.
          </li>
          <li>
            <strong>Taxa de evaluare a imobilului:</strong> între 370 și 1000
            lei, în funcție de tipul proprietății și zona în care se află.
          </li>
          <li>
            <strong>Comision de plată către banca veche:</strong>
            ~20 lei pentru un ordin de plată simplu, până la 100 lei pentru un
            ordin de plată condiționat.
          </li>
          <li>
            <strong>Comision de avizare:</strong> unele bănci pot percepe un
            comision suplimentar de până la 400 lei pentru ordinele
            condiționate.
          </li>
          <li>
            <strong>Taxe notariale:</strong> aplicabile pentru înscrierea noii
            ipoteci, calculate în funcție de valoarea locuinței.
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <p>
          <strong>Bonus de la Credit Pro Expert:</strong><br />
          • Te ajutăm să alegi oferta potrivită<br />
          • Ne ocupăm de toată documentația<br />
          • Primești consultanță gratuită, de la prima discuție până la
          finalizarea creditului
        </p>
        <p>
          Contactează-ne acum și hai să-ți optimizăm costurile și să-ți reducem
          rata lunară!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Refinanțare credit de nevoi personale -->
<section id="property-insurance" class="service-section">
  <div class="container">
    <h3>Refinanțare credit de nevoi personale</h3>
    <div class="row">
      <p>
        De ce să refinanțezi un credit de nevoi personale... sau chiar mai
        multe?<br />
        Cu Credit Pro Expert, refinanțarea devine o soluție simplă, eficientă și
        avantajoasă pentru tine!
      </p>
      <p>
        Refinanțezi inteligent pentru că:<br />
        • Poți obține o rată lunară mai mică, mai ușor de gestionat<br />
        • Îți unești mai multe credite într-unul singur – adio bătăi de cap cu
        rate multiple!<br />
        • Ai șansa să primești și o sumă suplimentară, exact când ai nevoie de
        un plus de lichiditate
      </p>
      <div class="col-md-6 col-lg-4">
        <img
          src="./property-insurance1.jpg"
          alt="Refinanțare credit de nevoi personale"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <ul>
          <li>
            <strong
              >Refinanțare cu sau fără sumă suplimentară (sold pe sold):</strong
            >
            tu alegi ce ți se potrivește.
          </li>
          <li>
            <strong>Perioadă extinsă:</strong> Dacă ai credite dinainte de
            08.07.2020, poți face refinanțare pe o perioadă de până la 10 ani.
          </li>
          <li>
            <strong>Dobânzi mai mici:</strong> Băncile caută clienți cu istoric
            bun, ceea ce îți poate aduce condiții avantajoase.
          </li>
          <li>
            <strong>Comision de analiză ZERO:</strong> În multe cazuri, poți
            beneficia de analiză gratuită.
          </li>
          <li>
            <strong>Costuri mai bune decât la un credit nou:</strong>
            Refinanțarea poate fi mai avantajoasă financiar decât un credit nou.
          </li>
          <li>
            <strong>Grad de îndatorare îmbunătățit:</strong> Refinanțarea îți
            poate crește șansele de a obține un nou credit în viitor.
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <p>
          La Credit Pro Expert, îți oferim consultanță gratuită, sprijin complet
          și acces la cele mai bune oferte din piață.
        </p>
        <p>
          Contactează-ne acum și află cum poți reduce costurile lunare și obține
          bani în plus!
        </p>
      </div>
    </div>
  </div>
</section>
